<div class="row">
    <div class="col-md-12">
      <form>
        <h3>Update Post</h3>
        <hr />
  
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title" />
            <span class="text-danger" *ngIf="postForm.get('title').touched && postForm.get('title').invalid">Title is required and minimum 6 character are mandatory</span>
          </div>
          <div class="mb-3">
            <label>Description</label>
            <textarea
              class="form-control"
              formControlName="description"
            ></textarea>
            <span class="text-danger" *ngIf="postForm.get('description').touched && postForm.get('description').invalid">Description is required and minimum 10 character are mandatory</span>
          </div>
  
          <div class="my-3">
            <button type="submit" class="btn btn-primary">Update Post</button>
          </div>
        </form>
      </form>
    </div>
  </div>
 