<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <div>
            <a class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>
        </div>
        <table class="table table-striped" *ngIf="posts | async">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Decription</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts|async">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td><a class="btn btn-primary" [routerLink]="['edit',post.id]">Update</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>
